.slide.left {
  transform: translateX(-100%);
  animation: slide-from-left 0.3s both ease-in-out;
  opacity: 0;
}

.slide.right {
  transform: translateX(100%);
  animation: slide-from-right 0.3s both ease-in-out;
  opacity: 0;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}